/JavaLesson04/nbproject/private/
/JavaLesson08/nbproject/private/
/JavaLesson05/nbproject/private/
/JavaLesson03/nbproject/private/
/JavaLesson06/nbproject/private/
/JavaLesson08/build/
/JavaLesson08/dist/
/JavaLesson05/dist/
/JavaLesson05/build/
/JavaLesson04/dist/
/JavaLesson04/build/
/JavaLesson03/dist/
/JavaLesson03/build/
/JavaLesson06/build/
/JavaLesson07/nbproject/private/
/JavaLesson07/build/
/JavaLesson07/dist/
